In [5]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd

apiKey = 'RGAPI-72a071f8-44b1-4b69-8cfc-bc34be3c7421'
lol_watcher = LolWatcher(apiKey)
region = 'kr'

txt = input('IDs:')

namelist = txt.split(',')
namelist = [i.strip() for i in namelist]
namelist = [i.replace('\xa0', ' ') for i in namelist]

stats = pd.DataFrame()
for name in namelist:
    try:
        summoner_id = lol_watcher.summoner.by_name(region, name)['id']
        data = lol_watcher.league.by_summoner(region, summoner_id)
        stats = stats.append(data, ignore_index=True)
    except:
        continue

stats[['summonerName', 'tier', 'rank', 'leaguePoints']]

       summonerName         tier rank  leaguePoints
0  17 world no1 mid       MASTER    I           209
1          일념지옥일념천국       MASTER    I            53
2            jhioio     PLATINUM   II            24
3           joy1213  GRANDMASTER    I           352
4       05 02 28 AD   CHALLENGER    I           622
5   xiaoxiaomengyan      DIAMOND    I             4